[submodule "submodule/Odoo-Python-ERP-"]
	path = submodule/Odoo-Python-ERP-
	url = git@github.com:ScottAI/Odoo-Python-ERP-.git
[submodule "submodule/stock-logistics-workflow"]
	path = submodule/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
[submodule "submodule/spc"]
	path = submodule/spc
	url = git@github.com:masami10/spc.git
	branch = main
[submodule "submodule/airflow"]
	path = submodule/airflow
	url = git@github.com:apache/airflow.git
[submodule "scikit/handson-ml2"]
	path = scikit/handson-ml2
	url = https://github.com/ageron/handson-ml2
